<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Angular Session 13</title>
</head>
<body>
    <nav></nav>
    <main>
        <h3>MULTIPLAN</h3>
        <section ng-app="calcularApp" ng-controller="calcularCtrl" class="m-5">
            <form novalidate>
            Ingrese la Distancia Recorrida:<br>
            <input type="number" ng-model="distancia" id="distancia"><br>
            <br>
            <button class="border-4 bg-warning" ng-click="CalcularTotal()">Calcular</button>
            </form>
            <p>Pago efectuado es de: S/.{{ precio.toFixed(2) }}</p>
        </section>

        
    </main>

    
</body>
</html>
<script src="js/tarea13.js"></script>

